*{
    margin: 0;
    padding: 0;
    border:border-box;
}
body{
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
/* admin aside navbar parent container..*/
#admin-aside-navbar{
    height: 100vh;
    width: 20vw;
    position: fixed;
    top:1px;
    left:0px;
    background-color: rgba(219, 228, 227, 0.884);
    
}
/* admin content sub container for icon and it's text which is admin panel...*/
#admin-content-container{
    height: 15%;
    
    background-color: rgb(162, 204, 243);
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    position: relative;
   
}
/*  admin icon css..*/
#admin-content-container i{
    font-size: 2.8rem;
    background-color: #fff;
    border-radius: 50%;
    padding: 0.2em;
    cursor: pointer;
}
#admin-panel-text{
    font-size: 2rem;
    font-weight: bolder ;
}
.border:hover{
   border:2.5px solid white;
   border-radius: 10px;
}
.border-icon:hover{
   border:2px solid blue;
}

/* admin panel different - different category buttons css...*/
#admin-panel-category-buttons{
height: 80.5%;
width:95%;
position: relative;
top: 4.3%;
left: 2%;
row-gap: 20px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
}
/* button css... of content.. */
.width-height{
    
    width:88%;
    font-size: 18px;
    text-align: left;
    border: none;
    background-color: transparent;
    padding-left:15px;
    padding-top: 4px;
    font-weight: 550;
    cursor: pointer;
}











/*       this is for chef        */

.display{
    width:80% ;
    height: 100%;
    position: absolute;
    right: 1px;
    
   
    
}
.displaycont{
    display: none;

}
.order{
    display: grid;
    grid-template-columns: auto auto auto;
}

.container{
    
    max-width: 500px;
    margin: 10px;
    border: 2px solid rgb(93, 113, 131);
    border-radius: 20px;
}
.container h1{
    display: flex;
    justify-content: center;
    border-bottom:2px solid rgb(118, 77, 172);
    color: red;
    text-shadow:  1px 2px 15px #888888;;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    

}

th {
    background-color: #f2f2f2;
}
#pri{
    color: red;
}

a{
    text-decoration: none;
    color: black;
}