<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/edit.css') }}">
    <title>Add Offers</title>
</head>
<body>
    <form method="post">
        <fieldset>
            <legend>Add Offers</legend>

            <label for="name">Offer name : </label>
            <input type="text" name="name" id="name"><br><br>

            <label for="code">Code : </label>
            <input type="text" name="code" id="code"><br><br>
            
            <!-- <label for="start">Started On : </label>
            <input type="text" name="start" id="start"><br><br> -->
            
            <label for="valid">Valid Till : </label>
            <input type="date" name="valid" id="valid"><br><br>

            <button type="submit">Submit</button>
            <button><a href="{{ url_for('OfferManager') }}">Back</a></button>

        </fieldset>
    </form>
</body>
</html>