<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/view.css">
    <title>Chef</title>
</head>
<body>
    <table>
        <tr>
            <th>Srno</th>
            <th>Name</th>
            <th>Username</th>
            <th>Email</th>
            <th>Phone Number</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Rajan</td>
            <td>rajan_c</td>
            <td>rajan@gmail.com</td>
            <td>99999999</td>
        </tr>
        <tr>
            <td>2</td>
            <td>sohan</td>
            <td>sohan_c</td>
            <td>sohan@gmail.com</td>
            <td>99999999</td>
        </tr>
        <tr>
            <td>1</td>
            <td>rajat</td>
            <td>rajat_c</td>
            <td>rajat@gmail.com</td>
            <td>99999999</td>
        </tr>
    </table><br>
</body>
</html>