<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/edit.css') }}">
    <title>Edit</title>
</head>
<body>
    <form method="post">
        <fieldset>
            <legend>Edit</legend>

            <label for="name">Item Name : </label> 
            <input type="text" name="name" id="name" value="{{ data.item }}"><br><br>
        
            <label for="cat">Category : </label>
            <input type="text" name="cat" id="cat" value="{{ data.category }}"><br><br>

            <label for="price">Price : </label>
            <input type="integer" name="price" id="price" value="{{ data.price }}"><br><br>

            <button type="submit">Submit</button>
            <button><a href="{{ url_for('CuisineManager') }}">Back</a></button>

        </fieldset>
    </form>
</body>
</html>